{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="btn-toolbar justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <a type="button" class="btn btn-primary" href="{% url 'partcreate' %}">Add New Part</a>
        </div>
        <div class="btn-group me-2" role="group">
            <button id="sourceDropdown" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {% if source %}{{source}}{% else %}Source{% endif %}
            </button>
            <ul class="dropdown-menu" aria-labelledby="sourceDropdown">
                {% for i, j in source_choices %}
                    <li><a class="dropdown-item" href="{% url 'dashboard' %}?{{source_qs}}&source={{i}}">{{j}}</a></li>
                {% endfor %}
                <li><a class="dropdown-item" href="{% url 'dashboard' %}?{{source_qs}}">All</a></li>
            </ul>
        </div>
        <div class="input-group me-2">
            <button class="btn btn-outline-secondary" type="button" id="searchButton">Search</button>
            <input type="text" class="form-control" placeholder="{% if search %}{{search}}{% else %}Search{% endif %}" aria-label="Search" aria-describedby="searchButton" id="searchField" data-bs-toggle="tooltip" data-bs-placement="bottom" title="You can search by part name, sku, source id, or price. Search is case insensitive.">
            <button class="btn btn-outline-secondary" type="button" id="searchClearButton">X</button>
        </div>
  </div>
    </div>
    <div class="col-12" style="max-width: 100vw; overflow-x:scroll;">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">SKU</th>
                    <th scope="col">Source</th>
                    <th scope="col">Machine ID/Company ID</th>
                    <th scope="col">Inventory</th>
                    <th scope="col">Price</th>
                    <th scope="col">Sub-Parts</th>
                    <th scope="col">Parent</th>
                </tr>
            </thead>
            <tbody>
                {% for p in object_list %}
                    <tr>
                        <th scope="row"><a href="{% url 'partdetail' p.pk %}">{{p.name}}</a></th>
                        <td>{{p.sku}}</td>
                        <td>{{p.get_source_display }}</td>
                        <td>{{p.source_id}}</td>
                        <td>{{p.inventory}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.sub_parts.count}}</td>
                        <td>{% if p.parent_part.count %}<a href="{% url 'partdetail' p.parent_part.first.pk %}">{{p.parent_part.first.name}}</a>{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="pagination col-12 d-flex justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock content %}
{% block extrascripts %}
<script>
var searchButton = document.getElementById('searchButton');
var searchClearButton = document.getElementById('searchClearButton');
var searchField = document.getElementById('searchField');
searchButton.addEventListener('click', function(){
    window.location = window.location.href.split('?')[0] + '?' + '{{search_qs}}' + '&search=' + searchField.value;
});
searchClearButton.addEventListener('click', function(){
    window.location = window.location.href.split('?')[0] + '?' + '{{search_qs}}';
});
</script>
{% endblock extrascripts %}