<!DOCTYPE html>
{% load static %}
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>{% block title %}Unsell C868 Capstone{% endblock title %}</title>
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {% block extraheader %}{% endblock extraheader %}
    </head>

    <body style="max-width: 100vw; overflow-x:hidden;">
        {% block layout %}
            <div class='container-fluid min-vh-100 gx-0' style="max-width: 100vw; overflow-x:hidden;">
                {% block nav %}
                    {% include 'nav.html' %}
                {% endblock nav %}
                {% block content %}
                <div>
                    <h1>DEFAULT LAYOUT CONTENT. THIS SHOULD NOT BE VISIBLE</h1>
                </div>
                {% endblock content %}
                {% block footer %}
                    <br class="mt-5">
                    <br class="mt-5">
                    <footer class="bg-light mt-3 fixed-bottom">
                        <div class="container-fluid">
                            <div class="row d-flex justify-content-between">
                                <div class="col-12 d-flex justify-content-between">
                                    <p>Christopher Unsell - 001093545</p>
                                    <p>C868 Capstone</p>
                                </div>
                            </div>
                        </div>
                    </footer>
                {% endblock footer %}
            </div>
        {% endblock layout %}
        {% block extrascripts %}{% endblock extrascripts %}
        <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            });
        </script>
    </body>
</html>