{% extends 'layout.html' %}
{% block content %}
<div class="row">
    <div class="col-12 justify-content-center d-flex">
        <h1>Login</h1>

    </div>
    <div class="col-12 justify-content-center d-flex">
        <form method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </div>
    <div class="col-12 justify-content-center d-flex">
        <a href="{% url 'password_reset' %}"><i>Forgot Password?</i></a>

    </div>
</div>
{% endblock content %}