{% load static%}
<nav class='navbar navbar-expand-md navbar-dark bg-dark px-3'>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class='d-inline-flex'>
        <a class='navbar-brand d-md-flex d-none opacity-100 align-items-center' href='{% url "dashboard" %}'>
            <!-- <img src="{% static 'images/logo.png' %}" width='auto' height='50'> -->
            <p class="text-light display-5 p-0 m-0">C868 Inventory Manager</p>
        </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <div class="navbar-nav fs-3">
            {% if request.user.is_staff %}
                <a class="nav-link text-light" href="/admin">Admin</a>
            {% endif %}
        </div>
        <div class="navbar-nav fs-3">
            <a class="nav-link text-light" href="{% url 'dashboard' %}">Dashboard</a>
        </div>
        <div class="navbar-nav fs-3">
            <a class="nav-link text-light" href="{% url 'userlist' %}">Users</a>
        </div>
        <div class="navbar-nav fs-3">
            {% if request.user %}
                <form method="POST" action="/logout/" style="">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Logout</button>
                </form>
            {% endif %}
        </div>
    </div>
</nav>